@page
@model KE03_INTDEV_SE_1_Base.Pages.AfgerondpaginaModel
@{
    ViewData["Title"] = "Bestelling afgerond";
}

<div class="afgerond-center">
    <h1>Bedankt voor je bestelling!</h1>
    <p>Je bestelling is succesvol afgerond.</p>
    <a href="/Index" class="btn-terug">Terug naar homepagina</a>
</div>