@page
@model KE03_INTDEV_SE_1_Base.Pages.AfgerondpaginaModel
@{
}


	<h1 class= 'text center'> Betaling succesvol afgerond</h1>
	<h3> Uw bestelling wordt verwerkt</h3>


<button onclick="window.location.href='/Index'" class="btn btn-outline-dark rounded-pill px-4">Terug naar homepagina</button>

