@page
@model KE03_INTDEV_SE_1_Base.Pages.AfgerondpaginaModel
@{
    ViewData["Title"] = "Bestelling afgerond";
}

<div class="confirmation-page">
    <h1>Betaling succesvol afgerond</h1>
    <p>Uw bestelling wordt verwerkt</p>

    <a href="/Index" class="btn-terug">Terug naar homepagina</a>
</div>