@page
@model KE03_INTDEV_SE_1_Base.Pages.ArtikelpaginaTandwiel
@{
}
<button onclick="window.location.href='/index'"> Terug </button>

<div class="shopping-cart-container">
    <a href="/Winkelmandje" class="shopping-cart">
        <img src="~/Images/Winkelmandje.png" alt="Winkelmandje" class="cart-icon">
        <span class="cart-count">0</span>
    </a>
</div>

Artikelpagina 1